.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--white);
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 24px 0 16px;
}

.inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    min-width: 300px;

    .logo-link {
        display: flex;
    }
}

.custom-login {
    color: red;
}

// Action
.action {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    cursor: pointer;
    background-color: transparent;
}

.action-btn {
    font-size: 2.4rem;
    padding: 4px 12px;
    color: #161823;
    background: transparent;
}

.user-avatar {
    width: 32px;
    height: 32px;
    margin-left: 12px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
